.header-container-main {
  background-color: #FEFDFD;
  color: #000000;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height:auto;
  
  
}

@media only screen and (max-width: 768px) {
  .header-container-main {
    height: auto;
    padding: 10px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}
.header-container-up {
  background-color: #DCD6F7;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-style:groove; */
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  height:100%;
}

.search-container {
  display: flex;
  align-items: center;
  width: 50%;
  height:45%;
  justify-content: flex-end;
  font-family: Sans-Serif;
}
.search-container ::placeholder {
  color: #424874; /* set the color you want */
}

.search-input {
  padding: 10px;
  margin-right:3%;
  border: none;
  border-radius: 8px;
  width: 50%;
  height: 100%;
  /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); */
  font-family: Sans-Serif;
  background-color: #F4EEFF;
  text-align: center;
  font-weight: 300;
  color: #424874;
  /* border-style:groove; */
  border-width: 1px;
  /* box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%), 0 1px 2px 0 rgb(0 0 0 / 12%); */
  
}

.back-btn{
  margin-left: 1%;
  float: right;
  margin-bottom: 1%;
  margin-top: 1%;
  cursor: pointer;
  background-color: #53535379;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 5px 10px;
  margin-right: 1%;
  font-size: 14px;
  cursor: pointer;
  font-family: Sans-Serif;
 
  font-weight: 300;
}
.back-btn:hover {
  background-color: #424874;
}

.header-img {
  margin: 2px;
  border-radius: 8px;
  width:6%;
  height:80%;
}
.header-img-pdp {
  margin-left: 82%;
  border-radius: 8px;
  float:right;
  width:6%;
  height:80%;
}
