.container {
  background-color: #ffffff;
}

.product-body {
  background-color: #FEFDFD;
  position: relative;
}

.column-heading {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 300;
  font-stretch: condensed;
  padding: 5px;
  font-family: Sans-Serif;
  text-align: center;
  color: #674188;
}

.column-heading-inner {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 300;
  font-stretch: condensed;
  padding: 5px;
  font-family: Sans-Serif;
  text-align: left;
  color: #674188;
}

.product-title {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 400;
  font-stretch: condensed;
  padding: 5px;
  font-family: Sans-Serif;
  font-weight: 300;
}

.info {
  font-size: 16px;
  font-family: Sans-Serif;
  padding: 5px;
  font-weight: 300;
  color: #3b6fcc;
}
.info::before {
  content: attr(data-label);
  display: inline-block;
  color: #674188;
  font-weight: 350;
}

.image {
  height: 80%;
  width: 80%;
  border-radius: 5%;
}

.image-review{
  height: 80px;
  width: 80px;
  border-radius: 5%;
  border: 0.5px solid gray;
  margin: 1%;
  transition: transform 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.image-review:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 5%;
  transition: 0.5s;
  margin: 0.5%;
}

.col {
  margin-top: 7.5%;
  float: left;
  width: 22.5%;
  height: 450px;
  text-align: center;
  margin-left: 7.5px;
  margin-right: 7.5px;
  background-color: #674188;
  border-radius: 5%;
}

.product-content:after {
  content: '';
  display: table;
  clear: both;
}

.pdpBreaker {
  border-color: #abc9ff;
  border-width: 1px;
  margin-right: 1%;
}

.col1 {
  float: left;
  width: 30%;
  height: 100%;
  margin-left: 1%;
  margin-top: 7%;
  padding-left: 3%;
  padding-top: 10px;
  background-color: #FEFDFD;
  font-family: Sans-Serif;
}

.col2 {
  float: left;
  width: 63%;
  height: 90%;
  color: #424874;
  margin-top: 10%;
  padding-left: 10px;
  background-color: #F9F7F7;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: Sans-Serif;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* border: 1px solid rgb(216, 216, 216); */
}
.col3 {
  float: left;
  width: 90%;
  height: 100%;
  margin-top: 5%;
  margin-left: 5%;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #F9F7F7;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: Sans-Serif;
  color:#3b6fcc;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.col4 {
  float: left;
  width: 90%;
  height: 100%;
  font-size: small;
  
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #F9F7F7;
  font-family: Sans-Serif;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: rgb(55, 55, 55);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.col5 {
  float: left;
  width: 90%;
  height: 100%;
  margin-top: 4%;
  margin-left: 5%;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #F9F7F7;
  border-radius: 10px;
  font-family: Sans-Serif;
  color: #3b6fcc;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-align: center;
  cursor: pointer;
  
}

.col-footer{
  float: left;
  width: 100%;
  height: 100%;
  font-size: small;
  color: #674188;
  margin-bottom: 5%;
  padding-left: 10px;
  padding-top: 10px;
  font-family: Sans-Serif;
  align-items: center;
  margin: 20px 0;
  background-color: #F9F7F7;
  text-align: right;
}


