.container {
  background-color: #ffffff;
}

.product-body {
  background-color: black;
}

.column-heading {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  font-stretch: condensed;
  padding: 5px;
  font-family: Sans-Serif;
  text-align: center;
  color: #abc9ff;
}

.column-heading-inner {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  font-stretch: condensed;
  padding: 5px;
  font-family: Sans-Serif;
  text-align: left;
}

.product-title {
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 500;
  font-stretch: condensed;
  padding: 5px;
  font-family: Sans-Serif;
}

.info {
  font-size: 16px;
  font-family: Sans-Serif;
  padding: 5px;
}

.image:hover {
  transition: 1s;
  transform: scale(1.1);
  border-radius: 5%;
  cursor: pointer;
  box-shadow: rgba(25, 0, 255, 0.12) 0px 54px 55px,
    rgba(25, 0, 255, 0.12) 0px -12px 30px, rgba(25, 0, 255, 0.12) 0px 4px 6px,
    rgba(25, 0, 255, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image {
  height: 300px;
  width: auto;
  border-radius: 5%;
  border: 0.5px solid gray;
}

.col {
  margin-top: 7.5%;
  float: left;
  width: 22.5%;
  height: 450px;
  text-align: center;
  margin-left: 7.5px;
  margin-right: 7.5px;
  background-color: #674188;
  border-radius: 5%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.pdpBreaker {
  border-color: #abc9ff;
  border-width: 1px;
  margin-right: 1%;
}

.col1 {
  float: left;
  width: 30%;
  height: 100%;
  margin-left: 1%;
  margin-top: 7%;
  padding-left: 50px;
  padding-top: 10px;
  background-color: #000000;
  font-family: Sans-Serif;
}

.col2 {
  float: left;
  width: 63%;
  height: 90%;
  color: #abc9ff;
  margin-top: 10%;
  padding-left: 10px;
  background-color: #000000;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: Sans-Serif;
  /* border: 1px solid rgb(216, 216, 216); */
}
.col3 {
  float: left;
  width: 90%;
  height: 100%;
  margin-top: 5%;
  margin-left: 5%;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #121212;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: Sans-Serif;
  color: whitesmoke;
}

.col4 {
  float: left;
  width: 90%;
  height: 100%;
  font-size: small;
  color: whitesmoke;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #121212;
  font-family: Sans-Serif;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
