.container {
  background-color: #ffffff;
}

.product-body {
  background-color: black;
  position: relative;
}

.column-heading {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  font-stretch: condensed;
  padding: 5px;
  font-family: Sans-Serif;
  text-align: center;
  color: #abc9ff;
}

.column-heading-inner {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  font-stretch: condensed;
  padding: 5px;
  font-family: Sans-Serif;
  text-align: left;
  /* color: #ff7272; */
}

.product-title {
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 500;
  font-stretch: condensed;
  padding: 5px;
  font-family: Sans-Serif;
  font-weight: 300;
}

.info {
  font-size: 16px;
  font-family: Sans-Serif;
  padding: 5px;
  font-weight: 300;
}

.image {
  height: 80%;
  width: 80%;
  border-radius: 5%;
}

.image-review{
  height: 80px;
  width: 80px;
  border-radius: 5%;
  border: 0.5px solid gray;
  margin: 1%;
  transition: transform 0.2s ease-in-out;
}

.image-review:hover {
  box-shadow: rgba(203, 59, 59, 0.572)0px 4px 4px,
  rgba(203, 59, 59, 0.572) 0px -12px 30px,rgba(203, 59, 59, 0.572) 0px 4px 6px,
  rgba(203, 59, 59, 0.572) 0px 8px 13px,rgba(203, 59, 59, 0.572) 0px -3px 5px;
  border-radius: 5%;
  transition: 0.5s;
  margin: 0.5%;
}

.col {
  margin-top: 7.5%;
  float: left;
  width: 22.5%;
  height: 450px;
  text-align: center;
  margin-left: 7.5px;
  margin-right: 7.5px;
  background-color: #674188;
  border-radius: 5%;
}

.product-content:after {
  content: '';
  display: table;
  clear: both;
}

.pdpBreaker {
  border-color: #abc9ff;
  border-width: 1px;
  margin-right: 1%;
}

.col1 {
  float: left;
  width: 30%;
  height: 100%;
  margin-left: 1%;
  margin-top: 7%;
  padding-left: 3%;
  padding-top: 10px;
  background-color: #000000;
  font-family: Sans-Serif;
}

.col2 {
  float: left;
  width: 63%;
  height: 90%;
  color: #abc9ff;
  margin-top: 10%;
  padding-left: 10px;
  background-color: #000000;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: Sans-Serif;
  box-shadow: 0 0 3px 1px rgb(53, 53, 53);
  /* border: 1px solid rgb(216, 216, 216); */
}
.col3 {
  float: left;
  width: 90%;
  height: 100%;
  margin-top: 5%;
  margin-left: 5%;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #121212;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: Sans-Serif;
  color: whitesmoke;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.col4 {
  float: left;
  width: 90%;
  height: 100%;
  font-size: small;
  color: whitesmoke;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #121212;
  font-family: Sans-Serif;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.col5 {
  float: left;
  width: 90%;
  height: 100%;
  margin-top: 4%;
  margin-left: 5%;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #000000;
  border-radius: 10px;
  font-family: Sans-Serif;
  color: whitesmoke;
  box-shadow: 0 0 3px 1px #ff7272;
  text-align: center;
  cursor: pointer;
  
}

.col-footer{
  float: left;
  width: 100%;
  height: 100%;
  font-size: small;
  color: whitesmoke;
  margin-bottom: 5%;
  padding-left: 10px;
  padding-top: 10px;
  font-family: Sans-Serif;
  align-items: center;
  margin: 20px 0;
  background-color: #bc4d4d;
  color: white;
  text-align: right;
}

