/* Global Styles */


.main-body {
  font-family: Sans-Serif;
  margin: 0;
  /* padding-bottom: 50px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f9f7f7;
  position: relative;
}

.catalog-list {
  flex: 8;
}

.sidebar {
  background: #f8f7f7;
  color: #424874;
  font-size: 16px;
  font-family: Sans-Serif;
  margin-top: 0.6%;
  padding: 10px;
  flex: 2;
  overflow: auto;
  display: block;
  margin-bottom: 50px;
  border-radius: 8px;
  
  /* border-style:ridge; */
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
  /* bottom: 20px; */
  height: 80vh;
  position: sticky; 
  top: 125px;
}

/* .outer-div {
  width: 80%;
  float: right;
} */

.filter-heading {
  margin-left: 0%;
  text-decoration: solid;
  font-size: 22px;
  font-family: Sans-Serif;
  display: block;
  margin-bottom: -4px;
  color: #424874;
  padding: 3px;
  text-decoration: none;
  text-align: center;
  font-family: Sans-Serif;
  font-weight: 320;
  
}

.button-reset {
  background-color: #535353;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  font-family: Sans-Serif;
  display: block; /* set the display property to block */
  margin: 0 auto;
  font-weight: 300;
}
.button-reset:hover{
  background-color: #424874;
}

.facet-list {
  position: relative; /* new */
  bottom: 0; /* new */
  font-family: Sans-Serif;
  color: #3b6fcc;
  cursor: pointer;
  border-color: #3b6fcc;
  border-width: 1px;
  font-size: 15px;
  font-weight: 300;
  list-style-type: none;
}
.checkbox{
  cursor: pointer;
}


.facets-line{
	border-color: #3b6fcc;
  	border-width: 1px;
}

.facet-header{
	text-align: left;
	font-size: 16px;
	font-weight: 300;
  text-transform: capitalize;
}

.card {
  height: 100%;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-title {
  height: 50px;
  overflow: hidden;
}

.card-text {
  height: 100px;
  overflow: hidden;
  font-weight: 300;
}

.card-footer {
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 1rem;
}

.text-muted {
  color: #6c757d;
}


.container {
  margin-left: 200px;
}

.grid {
  display: grid;
  margin-left: 16%; /* the width of the sidebar plus some spacing */
  padding: 10px;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  background-color: #000000;
  padding-bottom: 5px;
  margin-top: 8%;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .grid {
    display: grid;
    margin-left: 16%; /* the width of the sidebar plus some spacing */
    padding: 10px;
    gap: 1px;
    grid-template-columns: repeat(2, 1fr);
    background-color: #000000;
    padding-bottom: 5px;
    margin-top: 8%;
  }
}

@media only screen and (max-width: 480px) {
  .grid {
    display: grid;
    margin-left: 16%; /* the width of the sidebar plus some spacing */
    padding: 10px;
    gap: 1px;
    grid-template-columns: repeat(1, 1fr);
    background-color: #000000;
    padding-bottom: 5px;
    margin-top: 8%;
  }
}

@media (min-width: 768px){
.grid > .column:nth-child(-n + 4) {
  grid-row: 1 / 2; 
  transform: scale(1.2); 
}
}

/* Add styles to all the columns on hover */
/* .column:hover  {
    transform:matrix(1);
    border-radius: 5%;
    margin-top: 25px;
    transition: .5s;
} */

.image {
  margin: 10% auto 0% auto;
  display: block;
  height: 200px;
  width: 184px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border-width: 1px;
}

.image_text {
  text-transform: capitalize;
  font-size: 13px;
  font-family: Sans-Serif;
  text-align: center;
  padding: 0% 10% 0% 10%;
  color: #888888;
  margin-bottom: 2%;
  font-weight: 300;
}
.price {
  text-align: center;
  font-size: 14px;
  font-family: Sans-Serif;
  padding: 3% 25% 1% 25%;
  color: #3b6fcc;
  font-weight: 320;
  margin-bottom: 1%;
}
.title {
  display: inline;
  float: right;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 14px;
  font-family: Sans-Serif;
  font-weight: 500;
  color: #000;
  background-color: #f7efe5;
  border-radius: 5px;
  font-weight: 300;
}
.column {
  background-color: #00000000;
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image:hover {
  border-radius: 8px;
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
}

.content {
  padding: 20px;
  height: 80%;
  background-color: #FEFDFD;
  margin-top: 8%;
  display: flex;
  /* Height of the footer */
}

.footer {
  background-color: #121212;
  height: 50px;
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  background-color: #FEFDFD;
  color: #3b6fcc;
}

.pagination-button {
  background-color: #3b6fcc;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Sans-Serif;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.pagination-button:hover {
  background-color: #424874;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.pagination-button:disabled {
  background-color: #424874;
  cursor: not-allowed;
}
.prod-count{
  color: #3b6fcc;
}
/* li.label {
  margin-bottom: 20px;
  font-family: Sans-Serif;
} */
.catalog-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  background-color: #424874;
  color: white;
  position: fixed;
  bottom: 0;
}

.footer {
  position: absolute;
  height: 2%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  text-align: right;
  color: #3b6fcc;
  font-size: small;
  
}

.facets-container {
  display: block;
}




.row.abc {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.7%
}

.mobile-filter {
  display: none;
}

.sidebar-mobile {
  display: none;
  width: 100%;
  position: absolute;
  top: 100px;
}

@media (max-width:861px)  {
  .facets-container {
    display: none;
  }
  .sidebar {
    width: 0;
  }

  .abc {
    width: 100%
  }

  .mobile-filter {
    display: block;
  }
}


/* onclick of filter button */

.sidebar-mobile {
  display: block
}

.catalog-grid {
  /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border: #1c1c1c;
  padding-top: 0.5%;
  border-radius: 8px;
  margin: 1%; */
  margin-bottom: 1%;
  /* margin-top: 1%; */
  
 
}
.products-card{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: #1c1c1c;
  padding-top: 0.5%;
  border-radius: 8px;
  padding-left: 0.25px;
  padding-right: 0.25px;
  width: 100%;
  height: 98%;
  background-color: #F9F7F7;
}